<%# app/views/questions/_form.html.erb %>
<div id="question_form_container" class="box">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h3 style="margin: 0;">質問入力画面</h3>
    <div>
      <span style="margin-right: 8px;">クイズを送りますか？</span>
      <label style="margin-right: 6px;"><input type="radio" name="send_to_line" value="yes"> YES</label>
      <label><input type="radio" name="send_to_line" value="no" checked> NO</label>
    </div>
  </div>

  <%# 非同期にするときは↓を変える %>
  <%= form_with model: question, url: questions_path, local: true do |f| %>
    <%= f.text_area :content, rows: 6, style: "width: 100%; height: 120px; margin-top: 8px;" %>
    <%= f.submit "送信" %>
  <% end %>
</div>