<%# 質問入力フォーム %>
<div class="question-input-form">
  <%= form_with model: @question, url: questions_path, local: true do |f| %>
    <% if @question.errors.any? %>
      <div class="error-messages">
        <ul>
          <% @question.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="question-form-radio-group">
      <span>クイズをLINEに送りますか？</span>
      <label><input type="radio" name="send_to_line" value="yes" id="send_to_line_yes"> YES</label>
      <label><input type="radio" name="send_to_line" value="no" checked id="send_to_line_no"> NO</label>
    </div>

    <div id="question_form_container">
      <%= f.text_area :content,
        id: "question_content",
        class: "question-textarea",
        placeholder: "ここに質問を入力してください" %>

      <div class="question-form-footer">
        <%= f.submit "送信", class: "submit-button" %>
      </div>
    </div>
  <% end %>
</div>