<%# 上半分（チャットエリア）は、スクロールできるようにします %>
<div class="flex-grow-1" style="overflow-y: auto;">
  <div class="container-md mx-auto">
    <div id="questions" class="py-3">
      <% @questions.each do |question| %>
        <%= render partial: "questions/question", locals: { question: question } %>
      <% end %>
    </div>
  </div>
</div>

<%# 下半分（フォームエリア）は、常に下に固定します %>
<div class="p-3 bg-light border-top">
  <div class="container-md mx-auto">
    <%= render partial: "questions/form", locals: { question: @question } %>
  </div>
</div>