<%# app/views/questions/show.html.erb %>
<div class="flex-grow-1" style="overflow-y: auto;">
  <div class="container py-4">
    <%= render partial: "questions/question", locals: { question: @question } %>

    <div class="mt-4">
      <%= link_to '一覧に戻る', questions_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>